
.community-container{
    background-color: #131314;
    border-radius: 20px;
    padding: 100px 30px;
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.community-header{
    background-image: url('../assets/community.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 60%;
    padding: 80px 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.community-header h1{
    width: 80%;
    color: #737373;
}
.community-header span{
    color: #fff
}

.community-content{
    width: 60%;
    padding-bottom: 50px;
}
.communityContentHead{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.communityContentHead2{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.recommended{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.recommended p{
    color: #737373;
    font-size: 12px;
}
.recommended a{
    color: #6B84FF;
    font-size: 12px;
    text-decoration: none;
}

.paddingTop{ 
    padding-top: 20px;
}
@media (max-width: 480px){
    .community-header{
        width: 100%;
        padding: 20px;
    }
    .community-header h1{
        width: 100%;
        font-size: 30px;
    }
    .communityContentHead h3{
        font-size: 20px;
    }
    .community-content{
        width: 100%;
    }
    .communityContentHead{
        padding-top: 30px;
    }
    .communityContentHead2{
        padding-top: 10px;
    }
    .communityContentHead2 h3{
        font-size: 20px;
    }
}
.fileTable{
    overflow-x: auto;
  

}
.fileTable table{
    width: 100%;
    border-collapse: collapse;
}
.communityContentHead3{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 30px;
}

.groupFolder1{
    width: 100%;
    height: auto;
    border: solid 1px rgb(46, 46, 46);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    text-align: center;
    
}
.groupFolderHeader1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    text-align: center;
}
.groupFolder1 p{
    display: grid;
    gap: 15px;
}
.groupRow1{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 20px;
}