@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: black;
}


/*navbar styling*/
.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
}

/*logo styling*/
.logo img{
    height: 20px;
}
.logo h3{
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
}
.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
}

/*searchbar*/
.searchbar input{
    width: 400px;
    border-radius: 30px;
    background-color: #282a2c;
    border: none;
    outline: none;
    color: white;
    padding-left: 10px;
}
.searchbar{
    width: 450px;
    height: 55px;
    border-radius: 30px;
    background-color: #282a2c;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: -550px;
}
 input::placeholder{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

/*profile styling*/
.profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 140px;
    justify-content: space-between;
}
.profile img{
    height: 60px;
    width: 60px;
    object-fit: cover;
    border-radius: 50%;
}
