@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: #1b1b1b;
}

h3{
    font-family: 'Roboto Condensed', sans-serif;
}
p,button{
font-family: 'Roboto', sans-serif;
}

/*navbar styling*/
.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
}

/*logo styling*/
.logo img{
    height: 20px;
}
.logo h3{
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
}
.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
}

/*searchbar*/
.searchbar input{
    width: 400px;
    border-radius: 30px;
    background-color: #282a2c;
    border: none;
    outline: none;
    color: white;
    padding-left: 10px;
}
.searchbar{
    width: 450px;
    height: 50px;
    border-radius: 30px;
    background-color: #282a2c;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: -480px;
}
 input::placeholder{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

/*profile styling*/
.profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 140px;
    justify-content: space-between;
}
.profile img{
    height: 60px;
    width: 60px;
    object-fit: cover;
    border-radius: 50%;
}

/*sidebar styling*/
.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
    height: 200px;
}
.sidebar p{
    color: white;
    font-family: 'Roboto', sans-serif;
    padding-left: 10px;
}
.sideIcons{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 115px;
}
.lowerIcons{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}
.sideIcons.selected{
    background-color: #425eea24;
    width: 150px;
    display: flex;
    align-items: center;
    height: 40px;
    border-radius: 25px;
}
.sideIcons.selected p{
    color: #6b84ff;
}
.selectedIcon{
    color: #6b84ff;
}

/*Dashboard styling*/
.displayBoard{
    width: 820px;
    height: 500px;
    background-color: #000000;
    border-radius: 10px;
    margin-right: 1px;
}
.activityBoard{
    width: 300px;
    height: 500px;
    background-color: #000000;
    border-radius: 10px;
    margin-left: 40px;
}
.board{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px 50px;
}
.dashboard{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between;
    width: 100%; */
}

/*welcome-text styling*/
.welcomeText{
    display: flex;
    flex-direction: column;
}
.welcomeText h3{
    color: white;
    font-size: 30px;
}
.welcomeText p{
    color: gray;
    margin-top: -25px;
}
.welcomeHeader button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    color: white;
    background-color: #1539ed;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}
.welcomeHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px 30px;
}